table {
    border-collapse: collapse;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: none;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    background: #f8f8f8;
    display: block;
    font-size: 16px;
    padding: 12px 15px;
    width: 480px;
    transition: 0.8s;
    border-radius: 0;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus {
    background: #e9f5fb;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  input::placeholder {
    color: #ccc;
  }
  
  ::-webkit-input-placeholder {
    color: #ccc;
    opacity: 1;
  }
  
  ::-moz-placeholder {
    color: #ccc;
    opacity: 1;
  }
  
  :-ms-input-placeholder {
    color: #ccc;
    opacity: 1;
  }

  table {
    width: 100%;
  }

  table th {
    padding-left: 50px;
    position: relative;
    text-align: left;
    width: 300px;
  }
  
  @media screen and (min-width: 767px) { /*ウィンドウ幅が767px以上の場合に適用*/
  table th,
  table td {
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    padding: 20px;
  }
  }
  
  @media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
  table th,
  table td {
    display: block;
    width: 100%;
    border-bottom: none;
  }
  }